.formSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
}

.submitBtn {
  padding: 10px 15px;
  background-color: #2563eb;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.formSearchTransition {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
  gap: 10px;
  border: none;
  border-radius: 30px;
  padding: 6px 12px;
  background-color: #fff;

  @media  screen and (max-width: 1311px) {

    width: 240px;
  }

}